* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.digital-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
